*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 600px;
    border-radius: 20px;
    padding: 10px;
    border: 5px double rgb(43, 3, 79);
    margin: 10px auto;
    background-color: rgb(246, 230, 232);
}

header{
    text-align: center;
    background: linear-gradient(180deg, rgb(78, 1, 55) 10%, rgb(246, 230, 232) 90%);
    border-radius: 10px;
    margin-bottom: 30px;
}
h1{
    font-size: 40px;
    padding: 10px;
    color: white;
}
p{
    text-align: center;
    font-style: italic;
}
/*main*/
main{
    margin-top: 10px;
}
form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.form_input{
    display: block;
    border:  1px solid rgb(78, 1, 55);
    height: 30px;
    border-radius: 10px;
}
#text_form{
    width: 450px;
}
#button{
    width: 90px;
    color: rgb(78, 1, 55);
    font-size: 20px;
    background-color: white;
}
#poem{
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
/*footer*/
footer{
    background: linear-gradient(180deg,rgb(246, 230, 232) 20%, rgb(78, 1, 55) 100%);
    border-radius: 10px;
    padding: 10px;
}
a{
    color: rgb(248, 191, 231); 
    text-decoration: none;
}
#footer-text{
    text-align: center;
    color: white;
    margin-top: 10px;
}
