.container{
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}

header{
    background-image: url("../img/mrika-selimi-poem.jpg");
    background-size:cover;
    border-radius: 20px;
    text-align: center; 
    margin-bottom: 10px;
}
 #text_header{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    margin: none;
}